@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@media print {
  #root {
    display: none;
  }
}

@media screen {
  #print {
    display: none;
  }
}
